
<footer class="z-20 w-full p-4 bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-around md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        
            <a href="#" class="hover:underline me-4 md:me-6">
                <i class="ri-facebook-fill"></i>
            </a>
    
            <a href="#" class="hover:underline me-4 md:me-6">
                <i class="ri-linkedin-fill"></i>
            </a>
        
            <a href="#" class="hover:underline me-4 md:me-6">
                <i class="ri-instagram-line"></i>
            </a>
        
            <a href="#" class="hover:underline">
                <i class="ri-twitter-x-line"></i>
            </a>
        
    </ul>
</footer>
