
<nav class="nav bg-gray-100 dark:bg-gray-700 w-full ">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex justify-between items-center">
            <ul class="flex flex-row font-medium justify-center items-center mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li class="flex justify-center items-center">
                    <i class="ri-compass-3-line text-4xl text-blue-600"></i> <span class="text-2xl text-blue-500 font-bold"> TraveLink </span>
                </li>
                <li>
                    <a href="/listings" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">About</a>
                </li>
                <li>
                    <a href="/listings/new" class="text-gray-900 dark:text-white hover:underline">Add New</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Contact</a>
                </li>
            </ul>
            <!-- for log in and sign up  -->
            <ul class="">
                <% if (!currentUser) { %>
                    <a href="/user/signup" class="p-2 hover:bg-black hover:text-white">Sign Up</a>
                    <a href="/user/signin" class="p-2 hover:bg-black hover:text-white">Sign In</a>
                <% } %>
                <% if (currentUser) { %>
                    <a href="/user/logout" class="p-2 hover:bg-black hover:text-white">Logout</a>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

