<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveLink Web page</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <%- include('./includes/navbar.ejs') %>
        <main style="padding: 70px 5% 5%;">
            <%- include('./includes/flash.ejs') %>
                <%- body -%>
        </main>
        <%- include('./includes/footer.ejs') %>

            <script>
                // JavaScript to handle the close button functionality
                const closeButton = document.querySelector('#close-btn');
                const alertBox = document.querySelector('#alert-box');

                // Add event listener to the close button
                closeButton.addEventListener('click', () => {
                    alertBox.classList.add('hidden'); // Adds the 'hidden' class to hide the alert
                });
            </script>
</body>

</html>